In [29]:
import pandas as pd
import numpy as np
import numpy

df = pd.read_excel("BAIM Project Data_Revised.xlsx", sheet_name='Days_ALL Lines_Shift1')
df.head()

,Line Name,Line ID,Date,People,Hours Ran,Tot EE Hours,Units Blt,Ft Blt,Span Count,Chord Count,...,WG Count,SD Count,GB Count,VS Count,Units / EE Hour,Ft / EE Hour,Unnamed: 20,Estimated Full Setups,Estimated Heel and Span Adjs,Estimated TC and BC Adjs
0,Line 1,1,2018-04-02,2.000000,6.0,12.000000,34,1669.7241,8,127,...,22,0,62,28,2.833333,139.143675,NaN,3,6,1
1,Line 1,1,2018-04-03,2.000000,8.0,16.000000,45,2598.5450,3,202,...,57,31,0,42,2.812500,162.409063,NaN,2,0,2
2,Line 1,1,2018-04-04,1.833333,6.0,10.999998,39,1285.1081,25,141,...,1,0,74,12,3.545455,116.828030,NaN,9,17,2
3,Line 1,1,2018-04-05,2.000000,8.0,16.000000,47,2539.7428,12,225,...,34,6,35,60,2.937500,158.733925,NaN,6,7,0
4,Line 1,1,2018-04-06,2.000000,7.0,14.000000,51,2782.5538,5,215,...,40,26,17,39,3.642857,198.753843,NaN,2,6,3

In [30]:
#getting initial summary of all features
df.describe()

,Line ID,People,Hours Ran,Tot EE Hours,Units Blt,Ft Blt,Span Count,Chord Count,Web Count,Plate Count,...,WG Count,SD Count,GB Count,VS Count,Units / EE Hour,Ft / EE Hour,Unnamed: 20,Estimated Full Setups,Estimated Heel and Span Adjs,Estimated TC and BC Adjs
count,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,...,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,2448.000000,0.0,2448.000000,2448.000000,2448.000000
mean,4.609886,2.146463,7.206495,16.025538,41.458742,2288.893754,9.730392,174.237745,258.068219,875.072712,...,10.328431,8.675245,30.257761,20.930964,3.962002,141.642000,NaN,2.456699,8.388889,2.290033
std,3.747902,0.856697,2.008245,8.284346,21.648375,1554.437181,10.150322,82.200706,158.491924,462.893391,...,14.635106,13.754649,30.166480,23.408329,4.785698,74.410965,NaN,2.047197,11.084064,2.441642
min,1.000000,1.000000,1.000000,1.000000,1.000000,26.944400,1.000000,3.000000,3.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.250000,13.472200,NaN,0.000000,0.000000,0.000000
25%,2.000000,1.000000,7.000000,8.000000,28.000000,936.820825,4.000000,118.000000,120.000000,516.000000,...,0.000000,0.000000,3.000000,0.750000,1.541667,101.154525,NaN,1.000000,1.000000,0.000000
50%,3.000000,2.000000,8.000000,16.000000,38.000000,2008.423600,6.000000,170.000000,248.000000,834.000000,...,4.000000,2.000000,23.000000,14.000000,2.333333,132.584339,NaN,2.000000,5.000000,2.000000
75%,6.000000,3.000000,8.000000,24.000000,51.000000,3417.044300,12.000000,226.000000,368.000000,1182.000000,...,16.000000,13.000000,46.250000,32.000000,4.375000,168.005180,NaN,3.000000,11.000000,4.000000
max,12.000000,4.000000,10.000000,36.000000,179.000000,7925.488600,81.000000,506.000000,778.000000,2626.000000,...,136.000000,96.000000,200.000000,264.000000,112.000000,1579.694400,NaN,14.000000,85.000000,15.000000

In [31]:
#Dropping unnamed and unwanted column
df.drop(['Unnamed: 20'],axis=1,inplace=True)
df.head()

,Line Name,Line ID,Date,People,Hours Ran,Tot EE Hours,Units Blt,Ft Blt,Span Count,Chord Count,...,BC Pitch Count,WG Count,SD Count,GB Count,VS Count,Units / EE Hour,Ft / EE Hour,Estimated Full Setups,Estimated Heel and Span Adjs,Estimated TC and BC Adjs
0,Line 1,1,2018-04-02,2.000000,6.0,12.000000,34,1669.7241,8,127,...,12,22,0,62,28,2.833333,139.143675,3,6,1
1,Line 1,1,2018-04-03,2.000000,8.0,16.000000,45,2598.5450,3,202,...,20,57,31,0,42,2.812500,162.409063,2,0,2
2,Line 1,1,2018-04-04,1.833333,6.0,10.999998,39,1285.1081,25,141,...,31,1,0,74,12,3.545455,116.828030,9,17,2
3,Line 1,1,2018-04-05,2.000000,8.0,16.000000,47,2539.7428,12,225,...,18,34,6,35,60,2.937500,158.733925,6,7,0
4,Line 1,1,2018-04-06,2.000000,7.0,14.000000,51,2782.5538,5,215,...,13,40,26,17,39,3.642857,198.753843,2,6,3

In [32]:
#Slicing data based on lines
df1=df[df['Line Name']=='Line 1']
df2=df[df['Line Name']=='Line 2']
df3=df[df['Line Name']=='Line 3']
df4=df[df['Line Name']=='Line 4']
df6=df[df['Line Name']=='Red Line']
df12=df[df['Line Name']=='Mitek Line 1']

In [13]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: phik>=0.9.8 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.9.9)
Requirement already satisfied: jinja2>=2.8 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (2.10.3)
Requirement already satisfied: missingno>=0.4.2 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: pandas>=0.19 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.25.1)
Requirement already satisfied: astropy in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (3.2.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: confuse>=1.0.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.0.0)
Requirement already satisfied: matplotlib>=1.4 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (3.1.1)
Requirement already satisfied: scipy>=1.1.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (1.3.1)
Requirement already satisfied: joblib>=0.14.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (0.14.1)
Requirement already satisfied: pytest>=4.0.2 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (5.2.1)
Requirement already satisfied: jupyter-client>=5.2.3 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (5.3.3)
Requirement already satisfied: numba>=0.38.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (0.45.1)
Requirement already satisfied: pytest-pylint>=0.13.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (0.14.1)
Requirement already satisfied: nbconvert>=5.3.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (5.6.0)
Requirement already satisfied: numpy>=1.15.4 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.8->pandas-profiling) (1.16.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied: seaborn in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from missingno>=0.4.2->pandas-profiling) (0.9.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.19->pandas-profiling) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.19->pandas-profiling) (2.8.0)
Requirement already satisfied: pyyaml in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from confuse>=1.0.0->pandas-profiling) (5.1.2)
Requirement already satisfied: cycler>=0.10 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=1.4->pandas-profiling) (2.4.2)
Requirement already satisfied: py>=1.5.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.8.0)
Requirement already satisfied: packaging in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.2)
Requirement already satisfied: attrs>=17.4.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (7.2.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.3.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.13.0)
Requirement already satisfied: wcwidth in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.1.7)
Requirement already satisfied: importlib-metadata>=0.12 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.23)
Requirement already satisfied: colorama in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.4.1)
Requirement already satisfied: tornado>=4.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (6.0.3)
Requirement already satisfied: jupyter-core in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (4.5.0)
Requirement already satisfied: traitlets in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (4.3.3)
Requirement already satisfied: pyzmq>=13 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (18.1.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (223)
Requirement already satisfied: llvmlite>=0.29.0dev0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling) (0.29.0)
Requirement already satisfied: six in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.12.0)
Requirement already satisfied: pylint>=1.4.5 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (2.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (1.4.2)
Requirement already satisfied: defusedxml in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.6.0)
Requirement already satisfied: nbformat>=4.4 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied: bleach in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (3.1.0)
Requirement already satisfied: testpath in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.8.4)
Requirement already satisfied: pygments in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (2.4.2)
Requirement already satisfied: setuptools in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (41.4.0)
Requirement already satisfied: zipp>=0.5 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from importlib-metadata>=0.12->pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.6.0)
Requirement already satisfied: decorator in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from traitlets->jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied: ipython-genutils in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from traitlets->jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (0.2.0)
Requirement already satisfied: astroid<2.4,>=2.3.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (2.3.1)
Requirement already satisfied: isort<5,>=4.2.5 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (4.3.21)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (0.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (3.0.2)
Requirement already satisfied: webencodings in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.5.1)
Requirement already satisfied: lazy-object-proxy==1.4.* in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.4.2)
Requirement already satisfied: wrapt==1.11.* in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.11.2)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.4.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\sudar\appdata\local\continuum\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.15.4)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pandas_profiling as pp
#EDA for line 1
pp.ProfileReport(df1)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [34]:
#EDA for line 2
pp.ProfileReport(df2)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [35]:
#EDA for line 3
pp.ProfileReport(df3)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [18]:
#EDA for line 4
pp.ProfileReport(df4)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [19]:
#EDA for red line
pp.ProfileReport(df6)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [28]:
#EDA for Mitek line
pp.ProfileReport(df12)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦